body {
  display: grid;
  justify-content: center;
  background-color: aqua;
  margin: 0;
}

h1 {
  text-align: center;
}

.Gameboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #236bff;
  padding: 15px;
  margin: 0 30px 30px 30px;
  height: 525px;
  width: 650px;
}

.circle {
  background-color: white;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.triggers {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  height: 75px;
  width: 680px;
  background-color: red;
  margin: 30px 30px 0 30px;
}

.arrow {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

#player-one {
  background-color: yellow;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

#player-two {
  background-color: red;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 200px;
}

.gameModeDisplay {
  text-align: center;
}

.statusDisplay {
  text-align: center;
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.score {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 30px;
}

.scoreHeader {
  text-align: center;
}

.link {
  padding-top: 100px;
  text-align: center;
}