@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
  display: grid;
  justify-content: center;
  background-color: aqua;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Ranchers', cursive;
  font-size: 3cm;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Gameboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #1f75fe;
  border: 3px solid #00008b;
  padding: 15px;
  margin: 0 30px 30px 30px;
  max-height: 375px;
  max-width: 450px;
}

.circle {
  background-color: #f8f8ff; 
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.triggers {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  max-height: 60px;
  max-width: 486px;
  background-color: #708090;
  margin: 10px 30px 0 30px;
}

.arrow {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

#player-one {
  background-color: #fcf75e;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#player-two {
  background-color: #ed2939;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 50px;
}

.computer {
  color: white;
  background-color: #708090;
  border-radius: 5%;
  border: 3px solid black;
  height: 50px;
}

.refresh {
  color: white;
  background-color: #708090;
  border-radius: 5%;
  border: 3px solid black;
  height: 50px;
}

.gameModeDisplay {
  text-align: center;
  margin: 5px 0 5px 0;
}

.statusDisplay {
  text-align: center;
  margin: 5px 0 5px 0;
}

.scoreboard {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
  align-items: center;
  font-family: 'Pangolin', cursive;
  padding-bottom: 30px;
}
.score {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 30px;
  background-color: #708090;
  color: #f8f8ff;
}

.scoreHeader {
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-size: 2cm;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  padding-top: 25px;
  text-align: center;
}

.statusDisplay{
  font-family: 'Pangolin', cursive;
}

#playerOne {
  color: #fcf75e;
  font-weight: bold;
  font-size: x-large;
}

#playerTwo {
  color: #ed2939;
  font-weight: bold;
  font-size: x-large;
}

#tie {
  color: #3cb371;
  font-weight: bold;
  font-size: x-large;
}

.gameModeDisplay {
  font-family: 'Pangolin', cursive;
}